---
const { color, techLinks, title } = Astro.props;
const tailwindColors = {
    teal: "text-white bg-teal-400",
    purple: "text-white bg-purple-400"
    }
---
<div class="pixel-shadow-filter flex-1 mb-6 mr-0 md:mr-6 md:mb-0 md:last:mr-0">
    <div class="pixelated-corners bg-white ">
        <h2
            class={`font-semibold ${tailwindColors[color]} text-2xl px-6 py-3 tracking-wider uppercase`}
        >
            {title}
        </h2>
        <p class="text-xl leading-tight mb-2">
            <ul class="flex flex-col flex-1 p-4">
                {techLinks.map(({ techLogo, techName, techUrl }) =>
                    (<li>
                        <a
                            class="text-slate-600 hover:font-bold pl-3 inline-flex flex-row"
                            href={`https://${techUrl}`}
                        >
                            <img
                                class="w-8"
                                src={`tech_logos/${techLogo}`}
                                alt=""
                            />
                            <span class="text-lg p-3">{techName}</span>
                        </a>
                    </li>)
                )}
            </ul>
        </p>
    </div>
</div>